<div class="inspectorContent">
	<div class="uploadButton" <%= $.uploadZone %>>
		Open or drag-drop your .ICO file to inspect
	</div>
	
	<div class="iconData">
		No icon selected yet.
	</div>
</div>