<div class="builderContent">
	
	<div class="iconData">
		<div class="builderHeader">
			<h3>Total images: <span class="entryCount">0</span></h3>
			<div>
				<span>Icon filename:</span>
				<input type="text" />
				<a href="#" class="forgeIcon">Forge it!</a>
			</div>
		</div>
		
		<div class="newEntry"></div>
		<div class="entries"></div>
	</div>
</div>